.why-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

/* ONLY cards (direct children) */
.why-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

/* Heading */
.why-container h2 {
  text-align: center;
  font-weight: normal;
}

/* Paragraph */
.why-container p {
  text-align: center;
  color: rgb(63, 61, 61);
}
